@font-face {
    font-family: 'Montserrat-Medium';
    src: url(../res/fon/Montserrat-Medium.ttf) format('truetype');
}

.body {
    background-color: #000000;
}

.h1 {
    color: #FFEEDB;
    font-family: 'Montserrat-Medium';
}